ion-menu-button {
  color: var(--ion-color-dark);
}

ion-content {
  // --ion-background-color: #ffffff;
}

ion-title {
  text-transform: capitalize;
  // margin-left: -10px;
}

ion-list {
  // padding: 10px;
  // background: #ffffff;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
  // background: #ffffff;
}

ion-fab-button {
  margin-bottom: 50px;
}

