<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>The Daily Planet App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Daily Planet App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="box">
            <img (click)="gotoTodo()" src="http://todosmarter.com/images/todosmarterlogo.jpg" style="width: 120px; height: 120px; object-fit: cover;">
          </div>

        </ion-col>
        <ion-col>
          <div class="box">
            <img src="https://www.globallove.online/images/GlobalLoveLogo2.png" style="width: 120px; height: 120px; object-fit: cover;">
          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="box">
            <img src="https://thedailyplanet.app/images/bescrow.png" style="width: 120px; height: 120px; object-fit: cover;">
          </div>

        </ion-col>
        <ion-col>
          <div class="box">
            <img src="https://thedailyplanet.app/images/dailyplanet.png" style="width: 120px; height: 120px; object-fit: cover;">
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>








  </div>
  </ion-content>

