


<ion-content>
  <div class="ion-no-padding">
    <ion-img *ngIf="pro_pic != ''" [src]="pro_pic"></ion-img>
  </div>

  <div class="ion-padding">
    <ion-label>
      <h2>{{ name }}</h2>
      <p>{{ sex }}, {{ country }}</p>
    </ion-label>
  
    <ion-text style="margin-top: 20px;">
      My posts ({{ news.length }})
    </ion-text>

    <ion-list style="margin-top: 10px;">

      <ion-item *ngFor="let new of news" lines="full">
  
        
  
        <ion-label>
  
       
  
            <!-- <ion-img *ngIf="mind.news_img_path != ''" style="width: 100%; border-radius: 10px;" src="{{ mind.news_img_path }}" alt="{{ mind.news_title }}"></ion-img> -->
  
            <img  style="width: 100%; border-radius: 10px;" decoding="async" alt="title" part="image" *ngIf="new.news_img_path != ''" [src]="new.news_img_path">
  
  
          <div class="ion-text-wrap">
            <!-- <p>{{ job.start_date|date:'MMMM d, y' }}</p> -->
  
            <!-- <h1>{{ mind.news_title }}</h1> -->
            <div style="margin-top: 10px;">{{ new.news_title }}</div>
            <p style="padding-left: 20px; padding-right: 20px;" [innerHTML]="new.news_desc"></p>
  
            <!-- <p>{{ job.end_date|date:'MMMM d, y' }}</p> -->
          </div>
  
         
          <h4 style="padding-left: 20px; padding-right: 20px;">Comments ({{ new.comments.length }})</h4>
        <ion-item *ngFor="let com of new.comments" lines="full" >
          <ion-avatar>
            <img [src]="com.prfl_pic">
          </ion-avatar>
          <ion-label>
            <h2 style="margin-left: 10px;">{{ com.name }}</h2>
            <p class="ion-text-wrap" style="margin-left: 10px;">{{ com.comment }}</p>
          </ion-label>
        </ion-item>
  
  
        </ion-label>
        <!-- <ion-icon name="book-outline" slot="end"></ion-icon> -->

        
  
      </ion-item>
    </ion-list>


  </div>


</ion-content>


